@use "../../styles/mixins" as *;

.list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 60px 20px;
}

@include breakpoint(small) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include breakpoint(medium) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint(large) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@include breakpoint(xlarge) {
  .list {
    grid-template-columns: repeat(5, 1fr);
  }
}
