:root {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --primary-color: #0f0f0f;
  --text-color: #333333;
  --secondary-color: #bc3737;
  --background-color-light: #f0f0f0;
  --transition-time: 0.5s;
}
