.header {
  background-color: var(--primary-color);
}

.header__logo {
  color: #fff;
  font-size: 31px;
  padding: 15px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  font-family: var(--font-secondary);
}
